:root{
	--primary-color:black;
	--secondary-color:red;
}
div{
	height:300px;
	width:300px;
}
#div1{
	background:green;
	background:var(--primary-color);
	position:absolute;
	z-index:1;
}
#div2{
	background:red;
	background:var(--secondary-color);
	position:absolute;
	left:150px;
	top:120px;
}
media screen and (max-width: 600px){
	:root{
	--primary-color:black;
	--secondary-color:red;
}
}